
  

<div class="page-login-v2 layout-full page-dark">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Page -->
 

  <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
      <div class="page-brand-info">
        <div class="brand">
          <!-- <img class="brand-img" src="assets/materialAssets/images/logo@2x.png" alt="..."> -->
          <!-- <h2 class="brand-text font-size-40">Care Engage</h2> -->
        </div>
        <!-- <p class="font-size-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
      <!-- <div class="col-md-4 col-md-offset-2"> -->
      <div class="page-login-main">
        <div class="brand ">
          <img  style="margin-left:38%;height:100px;width:100px;" src="assets/materialAssets/images/logoc.png" >
        </div>
        <h5 class="font-size-15" style="margin-left:44%;margin-top:-50px;color:black;">SIGN IN</h5>
        
        <h5 style="margin-top:35px;color:black;">Please Sign In to continue</h5>

        <form [formGroup]="loginForm" (ngSubmit)="loginData(loginForm.value)">

            <div class="form-group form-material floating" style="margin-top:-30px;" data-plugin="formMaterial">
            <input type="email" class="form-control empty" formControlName= "username" id="inputEmail" name="email">
            <label class="floating-label" for="inputEmail">Username</label>
            
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control empty" formControlName= "password" id="inputPassword" name="password">
            <label class="floating-label" for="inputPassword">Password</label>
          </div>
          <div class="form-group clearfix">
            <!-- <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
              <input type="checkbox" id="remember" name="checkbox">
              <label for="inputCheckbox">Remember me</label>
            </div> -->
            <a class="float-left" style="margin-left:-6px;color:#A48AD4" href="forgot-password.html">Forgot password?</a>
         
          <button type="submit" id="btnAdd" class="btn btn-primary btn-block float-right"><strong>SIGN IN</strong></button>
        </div>
        </form>
        <!-- <p>No account? <a href="register-v2.html">Sign Up</a></p>
        <footer class="page-copyright">
          <p>WEBSITE BY amazingSurge</p>
          <p>© 2017. All RIGHT RESERVED.</p>
          <div class="social">
            <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
              <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
              <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
              <i class="icon bd-google-plus" aria-hidden="true"></i>
            </a>
          </div>
        </footer> -->
      <!-- </div> -->
    </div>
    </div>
  </div>


  <!-- End Page -->
  <!-- Core  -->
</div>