<body class=" page-profile">
  <nav class="site-navbar navbar  navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
        <img src="assets/materialAssets/images/logoc.png" alt="..." style="height:100px;width:100px;">
      <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
        <span class="sr-only">Toggle Search</span>
        <i class="icon md-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="nav-item hidden-float" id="toggleMenubar">
            <a class="nav-link" data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                <span class="sr-only">Toggle menubar</span>
                <span class="hamburger-bar"></span>
              </i>
            </a>
          </li>
          <li class="nav-item hidden-float">
            <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search" role="button">
              <span class="sr-only">Toggle Search</span>
            </a>
          </li>

        </ul>
        <!-- End Navbar Toolbar -->
        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="assets/materialGlobal/portraits/5.jpg" alt="...">
                <i></i>
              </span>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                <i class="icon md-account" aria-hidden="true"></i> Profile</a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                <i class="icon md-card" aria-hidden="true"></i> Billing</a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                <i class="icon md-settings" aria-hidden="true"></i> Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                <i class="icon md-power" aria-hidden="true"></i> Logout</a>
            </div>
          </li>


          <li class="nav-item" id="toggleChat">
            <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat" >
                <!-- data-url="../site-sidebar.tpl" -->
              <i class="icon md-comment" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link icon md-power" style="color:aliceblue;" data-toggle="collapse" href="#" role="button" (click)="logout()">
              Logout
              <span class="sr-only">Toggle Search</span>
            </a>
          </li>
        </ul>
        <div class="panel">
            <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
              <ul class="nav  nav-tabs-line" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="active nav-link" data-toggle="tab" href="#activities" aria-controls="activities" role="tab">ASSIGNED
                    <span class="badge badge-pill badge-danger">5</span>
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" data-toggle="tab" href="#profile" aria-controls="profile" role="tab">COMPLIANCE</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" data-toggle="tab" href="#messages" aria-controls="messages" role="tab">QUERIES</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" data-toggle="tab" href="#messages" aria-controls="messages" role="tab">TASK</a>
                </li>
              </ul>
            </div>
          </div>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon md-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>
  <div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div id="sidebar">
          <ul class="site-menu" data-plugin="menu">
 
            <li class="site-menu-item has-sub active open">
              <a href="javascript:void(0)">
                <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page -->
  <div class="page">
    <div class="page-content container-fluid">
      <div class="row">

        <div class="col-lg-12">
          <!-- Panel -->
          
          <div class="tab-content" style="margin-top:-12px;">
            <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
              <ul class="list-group">
                <li class="list-group-item" id="e" style="cursor:pointer" data-toggle="site-sidebar" href="javascript:void(0)"
                *ngFor = "let user of userlistArray;">
                  <div class="media col-lg-12 ">
                    <div id="chk" class="checkbox-custom checkbox-inline checkbox-primary" style="margin-top:7px;">
                      <input type="checkbox" id="remember" name="checkbox">
                      <label for="inputCheckbox"></label>
                    </div>
                    <div class="pr-20 col-md-1">
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/5.jpg" alt="...">
                      </a>
                    </div>
                    <div class="pr-20 col-md-3" >
                      <h5 class="mt-0 mb-5" >{{user.personMName}}  {{user.personLName}}
                        <!-- <small>posted an updated</small> -->
                      </h5>
                      <small id="details">{{user.gender.value}} | {{user.DOB}}</small>
                      <!-- <div class="profile-brief">“Check if it can be corrected with overflow : hidden”</div> -->
                    </div>
                    <div class="pr-20 col-md-2">
                      <h5 class="mt-0 mb-5">BLOOD GROUP
                        <!-- <small>posted an updated</small> -->
                      </h5>
                      <small>{{user.bloodGroup.value}}</small>
                    </div>
                    <div class="pr-20 col-md-2">
                      <h5 class="mt-0 mb-5">DOCTORS
                        <!-- <small>posted an updated</small> -->
                      </h5>
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/5.jpg" alt="...">
                      </a>
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/2.jpg" alt="...">
                      </a>

                    </div>
                    <div class="pr-20 col-md-2">
                      <h5 class="mt-0 mb-5">CARE CORDINATORS
                        <!-- <small>posted an updated</small> -->
                      </h5>
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/2.jpg" alt="...">
                      </a>
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/2.jpg" alt="...">
                      </a>
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/2.jpg" alt="...">
                      </a>
                    </div>
                    <div class="pr-20 col-md-1">
                      <button type="button"  class="btn btn-round btn-default" style="color:#A48AD4;">PROFILE</button>
                    </div>
                    <div class="pr-20 col-md-1">
                      <button type="button" class="btn btn-round btn-danger">ASSIGN</button>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- <a class="btn btn-block btn-default profile-readMore" href="javascript:void(0)"
                    role="button">Show more</a> -->
            </div>
            <div class="tab-pane animation-slide-left" id="profile" role="tabpanel">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="media">
                    <div class="pr-20">
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/5.jpg" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h5 class="mt-0 mb-5">
                        <small>posted a new blog</small>
                      </h5>
                      <small></small>
                      <div class="profile-brief">
                        <div class="media">
                          <a class="pr-20">
                            <!-- <img class="w-160" src="../../../global/photos/placeholder.png" alt="..."> -->
                          </a>
                          <div class="media-body pl-20">
                            <h4 class="mt-0 mb-5">Getting Started</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                              cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                              ipsum. Praesent mauris.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane animation-slide-left" id="messages" role="tabpanel">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="media">
                    <div class="pr-20">
                      <a class="avatar" href="javascript:void(0)">
                        <img class="img-fluid" src="assets/materialGlobal/portraits/2.jpg" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h5 class="mt-0 mb-5">Ida Fleming
                        <small>posted an updated</small>
                      </h5>
                      <small>active 14 minutes ago</small>
                      <div class="profile-brief">“Check if it can be corrected with overflow : hidden”</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- End Panel -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
  <!-- Footer -->
</body>