#e:hover{
    background-color:#A48AD4;
    color:#FFF;
 }

 .panel > .panel-body {
    background: #333645; 
    color: #fff;
}

#details{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(110, 177, 110)
}

#chk{
   border: black;
}

#sidebar{
    background: #333645; 
}

.nav-link{
    color: white;
}
.panel-body{
    margin-left: -16px;
    margin-right: -15px;
}

